.banner {
  background-color: var(--color-gray);
  border-radius: var(--border-radius-large);
  padding-inline: fluid-common(50, 60);

  @include tablet {
    padding-block: 30px;
  }

  @include mobile-xs {
    padding: 35px;
  }
}
